<!--
<p>Olá, <%= @nome %> </p>   a marcação <%= %> só vale para variáveis. Estava tentando colocar Olá, Heloísa dentro e deu erro
-->

<div class="jumbotron">
    <h1>Agendinha</h1>
    <p>
        Gerencie seus contatos em qualquer lugar!
    </p>

    <p>
        <%= link_to 'Crie sua conta', novo_contato_path, class: 'btn btn-primary btn-lg' %>
    </p>
</div>