<footer>
    <small>
        <%= link_to 'Agendinha.  Todos os direitos reservados.', root_path %>
    </small>

    <nav>
        <ul>
            <li>
                <%= link_to 'Sobre', sobre_path %>  <!-- sempre lembrar de colocar o _path pois é um método do ruby que indica o caminho a seguir -->
                <!-- esse sobre vem da string sobre do get, no arquivo routes.rb -->
            </li>

            <li>
                <%= link_to 'Contato', contato_path %>
            </li>
        </ul>
    </nav>
</footer>